@font-face {
  font-family: "my-icons";
  src:url("../fonts/my-icons.eot");
  src:url("../fonts/my-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/my-icons.woff") format("woff"),
    url("../fonts/my-icons.ttf") format("truetype"),
    url("../fonts/my-icons.svg#my-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
    background: #FFF;
    color: #444;
    padding: 2em;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: #00AAEE;
  text-decoration: none;
}

/*
  Let's give page-header an icon from
  our my-icons font
*/
.page-header:before {
  font-size: 2em;
  content: 'c';
  font-family: "my-icons";
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
